.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 125px;
    border-top: 1px solid black;
}

.footer .social a {
    margin-right: 10px;
    color: var(--primary);
}

.footer .social a:hover{
    opacity: 0.7;
}