/* header */

.main-header{
    background-image: url("../img/bg-1.jpeg");
    background: no-repeat cover center center;
    height: 100vh;
    color: #fff;
    position: relative;
}

.main-header .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.main-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0,0.6);
}

.main-header * {
z-index: 5;
}


.main-header .content  h1{
    font-size: 5.5rem;
}

.main-header .content p {
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem ;
}


.main-header.blog{
background-image: url("../img/bg-2.jpeg");
height: 80vh;
}

.flex-columns.article .column:nth-child(odd){
flex: 2;
}

.flex-columns.article .column:nth-child(even){
    flex: 3;
}